@model CommentViewModel

<link rel="stylesheet" href="~/css/comments.css" />

<h2>Комментарии</h2>

@foreach (var comment in Model.Comments)
{
    <div class="comment-card">

        <div class="comment-author">
            @comment.Commentator.UserName
        </div>

        <div class="comment-text">
            @comment.CommentText
        </div>

        <div class="comment-date">
            @comment.CreatedAt
        </div>

        @if (User.IsInRole("Admin") || User.Identity?.Name == comment.Commentator.UserName)
        {
            <a
                asp-action="Edit"
                asp-route-id="@comment.Id"
                class="btn btn-primary">
                Редактировать
            </a>

            <form asp-action="Delete" asp-route-id="@comment.Id" method="post">
                @Html.AntiForgeryToken()
                <button type="submit"
                        onclick="return confirm('Удалить комментарий?');">
                    Удалить
                </button>
            </form>
        }

    </div>
}